body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Sniglet', cursive;
}

.container {
    height: 100%;
    background-image: url("https://wallimpex.com/data/out/435/gta-5-4k-wallpaper-8057095.jpg");
    background-position: center;
    background-size: cover;
}

.text {
    width: 1000px;
    color: aliceblue;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid orange;
    outline: none;
    font-size: 25px;
    color: orange;
    font-family: 'Sniglet', cursive;
    width: 180px !important;
}

.cover{
    height: 100%;
    background-color: rgba(0, 0,0,0.5)
}